<section class="box">
    <h2>Félicitation, votre sondage à bien étais désactiver.</h2>
    <b>Les utilisateurs ne peuvent donc plus voter mais peuvent tout de même consulter les résultats de votre sondage.</b>

    <div class="h_center">
        <form action="@Url.Action("Index", "Home")">
            <input type="submit" value="Retour accueil">
        </form>
    </div>
</section>

