<section class="box">

    <h2>Une erreur est survenue subitement, vous avez du effectuer une fausse manipulation.</h2>
    <h2>Ou vous essayez d'accéder à une page qui n'existe pas.</h2>


    <div class="h_center">
        <form action="@Url.Action("Index", "Home")">
            <input type="submit" value="Accueil">
        </form>
    </div>
</section>

