<section class="box">
    <h2>Erreurs possibles</h2>
    <br />
    <h3><b>● Insérer au moins 2 réponses..</b></h3>
    <h3><b>● Des réponses peuvent être similaires.</b></h3>
    <div class="h_center">
        <form action="@Url.Action("Index", "Home")">
            <input type="submit" value="Retour accueil">
        </form>
    </div>
</section>