<section class="box">
    <h2>SONDAGE DESACTIVE</h2>
    <b>Ce sondage est actuellement désactivé.</b>
    <br /><br />
    <b>● Vous pouvez tout de même consulter les résultats de celui-ci.</b>
    <div class="h_center">
        <form action="@Url.Action("Index", "Home")">
            <input type="submit" value="Retour accueil">
        </form>
    </div>
    <div class="h_center">
        <form action="@Url.Action("Resultat", "Home")" method="get">
            <input type="hidden" name="id" value="@Model">
            <input type="submit" value="Résultats">
        </form>
    </div>
</section>