<section class="box">
    <h2>SONDAGE ERREUR</h2>
    <br />
    <h3><b>Veuillez au minimum 2 réponses afin de valider le sondage.</b></h3>
    <div class="h_center">
        <form action="@Url.Action("Index", "Home")">
            <input type="submit" value="Retour accueil">
        </form>
    </div>
</section>