<section class="box">
    <h2>Erreur possible</h2>
    <br />
    <h3><b>● Insérer une question.</b></h3>
    <div class="h_center">
        <form action="@Url.Action("Index", "Home")">
            <input type="submit" value="Retour accueil">
        </form>
    </div>
</section>