<div class="box">
    <h2>Bienvenue sur Sond'Open</h2>
    <p>Sond'Open est un site web de création de sondages, vous pouvez faire interagir votre entourage.</p>
    <div class="h_center">
        <form action="@Url.Action("New", "Home")">
            <input type="submit" value="Créer un sondage">
        </form>
    </div>
</div>
