@model int
<section class="box">
    <h2>Félicitation, vous avez bien crée votre sondage.</h2>
    <h4><b>Veillez à bien garder le lien de désactivation dans un coin, il ne vous sera plus communiquer !</b></h4>
    <h3>
        <a href="@Url.Action("Desactiver" , new { id = Model })">[Desactiver]- Lien permettant d'accéder à la page de désactivation du sondage</a>
    </h3>
    <h3>
        <a href="@Url.Action("Resultat" , new { id = Model })">[Résultat(s)]- Lien permettant d'accéder aux résulats de mon sondage</a>
    </h3>
    <h3>
        <a href="@Url.Action("Vote" , new { id = Model })">[Vote]- Lien permettant d'accéder à la page de vote</a>
    </h3>
    <div class="h_center">
        <form action="Index">
            <input type="submit" href="Index" value="Retour accueil">
        </form>
    </div>
</section>

