<div class="boxNew">
    <h2>Manuel d'utilisation:</h2>
    <br />
    <b><u>Créer un sondage:</u></b>
    <br />
    <p>• A la page d'accueil cliquez sur créer un sondage.</p>
    <p>• Saisissez une question puis les réponses<br></p>

    <p><u><i>Vous avez deux cases cochables.</u>
    <p> La première case sert à autoriser ou non le choix multiples sur votre sondage.<p>
        La seconde case permet d'autoriser ou non de faire plusieurs votes par ordinateur. Celle-ci est par défaut cocher.</i>
    </p>
    <br />
    <p>• Cliquez sur le bouton créer.</p>
    <p><u>Une fois le sondage créer, 3 liens sont générés</u></p>
    <h5>• Un lien menant aux résultats du sondage.</h5>
    <h5>• Un lien qui vous permet de désactiver le sondage.</h5>
    <h5>• Un lien de partage que vous permet d'accéder à votre sondage.</h5>
    <br />
</div>