<div class="box">
    <h3>Vous trouverez ci-dessous les résultats du sondage.</h3><br />
    <b><u>Question du sondage:</u></b>
    <br />
    <p>Réponse 1<br /><progress id="avancement" value="0" max="100"></progress>0%<br />0 vote(s)</p>
    <br />
    <p>Réponse 2<br /><progress id="avancement" value="25" max="100"></progress>25%<br />1 vote(s)</p>
    <br />
    <p>Réponse 3<br /><progress id="avancement" value="50" max="50"></progress>50%<br />2 vote(s)</p>
    <br />
    <p>Réponse 4<br /><progress id="avancement" value="0" max="100"></progress>100%<br />0 vote(s)</p>

</div>

